<h1>Vagas da categoria: {{categoria.categoria}} </h1>
<div class="cont">
    <div class="quadro" >
       <div class="item"> 
        <h2>{{vaga.vaga}}</h2>
        <h3>Vagas:{{vaga.quantidade}}</h3>
    </div>
    <div class="item">
    <h2>Empresa: {{empresa.nome}}</h2> <!--findEmpresa-->
    <!-- <h3 *ngFor="let loc of vaga.local">
        Estado: {{loc.estado}}
        Cidade:  {{loc.cidade}}
     </h3> -->
</div>
    <div class="item">
    <h2>De R${{vaga.salario.min}} até R${{vaga.salario.max}}</h2>
        
        <h3>Publicada em :{{converteHoras(vaga.publicacao)}}</h3>
    </div>
    
    <button routerLink="/interna/{{vaga.id}}">
        Conheça a Vaga
    </button>
    </div>
</div>