<div class="cont">
<div class="quadro" >
    <div class="item"> 
     <h2>{{vaga.vaga}}</h2>
     <h3>{{vaga.quantidade}} Vaga</h3>
 </div>
 <div class="item">

    <!-- <h3 *ngFor="let loc of vaga.local">
        Estado: {{loc.estado}}
        Cidade:  {{loc.cidade}}
     </h3> -->
</div>
    <div class="item">
    <h2>De R${{vaga.salario.min}} até R${{vaga.salario.max}}</h2>
        
        <h3>Publicada em :{{converteHoras(vaga.publicacao)}}</h3>
    </div>
    <p>
    {{vaga.descricao}}
    </p>
    <!-- <div class="hora" *ngFor="let hora of vaga.expediente"> 
       Horário: {{hora.dias}} das {{hora.inicio}} até as {{hora.fim}}
    </div> -->
    <p>contratacao: {{vaga.contratacao}}</p>
    <p>Informações adicionais: {{vaga.infosAdicionais}}</p>
<div class="logo">
    <img [src]="empresa.logo" alt="">
    <b>{{empresa.nome}}</b>
</div>
<button routerLink="/interna/{{vaga.id}}">
    Responder ao questionário para se cadastrar
</button>
</div>  